<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p>{{screamIt welcomeMessage}} Ps:Ray is a bobo kau </p>

    {{> footer}}
  </body>
</html>
